@import "../../base";

.categoriesBar {
    width: 94%;
    padding: 1.2rem 0;
    font-size: 0.8rem;
    display: flex;
    overflow-x: auto;

    // &::-webkit-scrollbar {
    //     display : none;
    // }

    span {
        margin-right: 0.5rem;
        padding: 0.5rem;
        white-space: nowrap;
        border: 1px solid $text-color;
        border-radius: 999px;
        cursor: pointer;

        &:hover {
            background-color: #374a59;
        }
        &.active {
            color: #fff;
            background-color: #606060;
            border-color: $border-color;
        }
    }
}
